*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans Arabic", sans-serif;
  background: linear-gradient(to bottom, #1d1d21, #1d2339);
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

/* textbar__box */

.textbar__box {
  margin-top: 1rem;
  background-color: #252b48;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-wrapper {
  display: inline-block;
  animation: marquee 60s linear infinite;
}

.moving-text {
  display: inline-block;
  padding-right: 5rem;
}

/* navbar */

.navbar {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.navbar__weather,
.navbar__time,
.navbar__date {
  background-color: #1d2339;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  text-align: center;
  justify-content: center;
  width: 30%;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.navbar__weather {
  font-size: 4rem;
}

.navbar__time{
    font-size: 3rem;
    align-items: center;
    padding-top: 2rem;
}

.navbar__date {
  font-size: 2rem;
  align-items: center;
  padding-top: 2.5rem;
}

.navbar__weather i {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
}

/* keyframes */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
