*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans Arabic", sans-serif;
  background-color: #1e223a;
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* textbar__box */

.textbar__box {
  margin-top: 1rem;
  background-color: #252b48;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Ensure text stays on one line */
}

.marquee-wrapper {
  display: inline-block;
  /* The animation will move the content from right to left */
  animation: marquee 60s linear infinite;
}
/* Styling for each text item */
.moving-text {
  display: inline-block;
  padding-right: 5rem; /* Creates the gap between texts */
}
/* navbar */

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr 1fr);
  align-items: center;
  padding: 1rem;
}

.navbar__weather,
.navbar__time.navbar__date {
  background-color: #1e223a;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1rem;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }